<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{teacher_fullname}} gradebook report</title>
  <link rel="stylesheet" href="templates/typography.css">
  <style>
  @page {
      size: letter;
      margin: 0in 0.44in 0.2in 0.44in;
  }
  .block {
    /*page-break-before: always;*/
    width: 100%;
    border-bottom: 1px dashed #444;
    margin: 1em 0;
  }
  </style>
</head>
<body style="width:100%;height:100%">
  
  <h2>{{ report_name }}</h2>
  <h3 style="text-align: right;">Most recent grade: {{ most_recent_grade_date }}</h3>

  <div class="block">
    <h5>I. Grade distribution</h5>
    {{ grade_breakdown_diagrams }}
  </div>

  <div class="block">
    <h5>II. Failing students</h5>
    {{ failing_students }}
  </div>

  <div class="block">
    <h5>III. Negative impact assignments </h5>
    {{ negative_impact_assignments }}
  </div>

  <div class="block" id="category-table">
    <h5>IV. Category table </h5>
    {{ category_table  }}
  </div>

</body>
</html>
